!!!
html

  head
    title= overview.tagMap.name
    meta(charset='utf-8')
    link(rel='stylesheet', href='doxor.css')

  body

    aside
      nav
        dl
          dt= overview.tagMap.name
            span.version= overview.tagMap.version
          dd
            a(href=overview.tagMap.url) GitHub Repository
          for module in modules
            dt
              a(href='#' + module.ctx.name)= module.ctx.name
            for member in module.members
              dd
                a(href='#' + module.ctx.name + '.' + member.ctx.name)= member.ctx.name

    .content
      h1= overview.tagMap.name
      for module in modules
        section
          h2(id=module.ctx.name)= module.ctx.name
          != module.description.full
          for member in module.members
            section(id=module.ctx.name + '.' + member.ctx.name)
              h3= member.ctx.name
              code.declaration!= member.definition
              .summary!= member.description.summary
              .body!= member.description.body

              if member.params && member.params.length > 0
                .params
                  h4 params
                  dl
                    for param in member.params
                      dt
                        code!= param.name
                      dd!= param.description
              if member.return
                .return
                  h4 return
                  dl
                    dt
                      code= member.return.name
                    dd!= member.return.description
